
    <html>
        <head>
            <title>Some HTML in here</title>
        </head>
        <body>
            <h1><input type="text" id=user-agent name=agent value="{{ agent }}"></h1>
        </body>
    </html>